compute_IoU
redraw
src/*.txt
src/UNet_Version/loss/msssimLoss.py
src/UNet_Version/models

special partitions

result

dataset/14X label
dataset/static_data_sitution.ipynb

*__pycache__
*.PNG
*.pyc
*.zip
*.csv
*.txt
*.json
*.jpg
*.psd
*.ini
*.xlsx